
{% extends "base.html" %}

{% block content %} 

    <div>
        <h2>Daily Orders</h2>

    <table>
        <thead>
            <tr>
                <th>Meal Type</th>
                <th>Basic</th>
                <th>Premium</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lunch</td>
                <td>{{ stats.lunch.basic }}</td>
                <td>{{ stats.lunch.premium }}</td>
            </tr>
            <tr>
                <td>Dinner</td>
                <td>{{ stats.dinner.basic }}</td>
                <td>{{ stats.dinner.premium }}</td>
            </tr>
        </tbody>
    </table>
    </div>

{% endblock %}